/* recruiterLogin.css */

.recruiter-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  background-color: #fff;
}

.recruiter-login-title {
  margin-bottom: 1rem;
  color: #080808;
}

.recruiter-login-form {
  width: 100%;
}

.textfield {
  margin-bottom: 1rem;
}

.recruiter-login-captcha {
  margin: 1rem 0; 
  display: flex;
  justify-content: center; /* Center horizontally */
}

.recruiter-login-button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-transform: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.recruiter-login-button:hover {
  background-color: #45a049;
}

.recruiter-login-error {
  margin-top: 0.5rem; 
  color: red;
  font-weight: bold;
}

.g-recaptcha {
  transform: scale(0.7);
  transform-origin: 0 1;
}
